[2017-12-14 22:23] igorbarinov opened #9 "(Fix) Replace logos to POA Network"
Problem: logos refer to Oracles
Solution: replace to POA https://transfer.sh/VS5lp/Archive.zip

[2017-12-15 06:20] vbaranov commented on #9
@igorbarinov Archive contains updated images for header only. I need new images for footer too.
Current footer images: [Archive.zip](https://github.com/oraclesorg/poa-dapps-validators/files/1561749/Archive.zip)

[2017-12-15 14:17] igorbarinov commented on #9
[Archive 3.zip](https://github.com/oraclesorg/poa-dapps-validators/files/1562976/Archive.3.zip)

[2017-12-18 14:12] vbaranov commented on #9
Implemented here: https://github.com/oraclesorg/poa-dapps-validators/pull/10

[2017-12-18 14:12] #9 closed, assigned to vbaranov

[2017-12-23 18:57] igorbarinov opened #19 "(Fix) Hard code MoC metadata"
Problem: MoC metadata is not showing in DApp
Solution: Hardcode MoC metadata

[2017-12-27 05:41] igorbarinov opened #21 "(Feature) Add RPC support instead of metamask"
Problem:
Validators Dapp requires metamask. Although, there aren't transactions in this dapp
Solution:
Use RPC endpoint `https://core.poa.network` instead of metamask

[2017-12-27 10:06] vbaranov commented on #21
We don't need metamask for display of the list of validators.
But we need it for metadata addition and approval.

[2017-12-27 10:09] vbaranov opened #22 "(Fix) invalid title for dApp"
**Problem**: invalid title for validators dApp https://github.com/poanetwork/poa-dapps-validators/blob/core/public/index.html#L23

**Solution**: change to actual one: `PoA validators dApp`

[2017-12-30 06:44] #21 closed, assigned to rstormsf

[2017-12-30 15:59] vbaranov commented on #19
Fix is not yet deployed on github pages https://poanetwork.github.io/poa-dapps-validators/. Maybe we can add automation with Travis CI after successful PR merging on core branch?

[2017-12-30 19:24] igorbarinov commented on #19
we are using Netlify now. @rstormsf has an idea to differentiate RPCs (network) by domain name when we don't use web3 injection (metamask).
URLs for deployments:
https://core-validators.poa.network/
https://sokol-validators.poa.network/
both are deployed from `core` branch.
We plant to get rid of `core` and `sokol` branches in DApps and will work in the master branch. @rstormsf please merge last c

[2018-01-21 17:30] rstormsf commented on #22
Fixed in #23

[2018-01-21 17:30] #22 closed, assigned to nobody

[2018-01-21 17:31] rstormsf commented on #19
It's already been done.
I'll remove sokol branch right now

[2018-01-21 17:31] #19 closed, assigned to rstormsf

[2018-01-21 19:26] igorbarinov commented on #19
@rstormsf can I replace `core-validators.poa.network` and `sokol-validators.poa.network` to `validators.poa.network` ?

[2018-01-21 20:00] johnnynuuma opened #29 "Able to view and set Validator MetaData with arbitrary account ( should this only work for valid votiing key )"
Sokol:  https://sokol-validators.poa.network

Seems like I can access the Validator MetaData page and click "SET METADATA" with a random Sokol account.

I didn't try to "SET METADATA", as transaction will likely fail.

![screenshot from 2018-01-21 11-55-21](https://user-images.githubusercontent.com/22530182/35198354-7e786118-fea2-11e7-99ad-be7a3dbcbb60.png)

![screenshot from 2018-01-21 11-59-38](

[2018-01-21 20:15] rstormsf commented on #29
Good catch! we will make this improvement

[2018-01-22 16:33] jflowers1974 opened #31 "UX/UI - Verify/Finalize Validator's Data"
Confirming a validator's metadata:  there needs to be verbiage on the 'pending changes' tab to compel another validator that is confirming and/or finalizing to either verify the information via a different channel, know that the information is correct, and/or reach out to the new validator that the information is correct.

I could see people otherwise hitting 'ok' without giving this much thought

[2018-01-23 00:09] rstormsf commented on #19
@igorbarinov no. because if there is no metamask, that's how it will be able to differentiate between networks. Only this Dapp handles it. Maybe we can also enable other Dapps to be able to work without metamask using the same pattern.

[2018-01-23 00:11] igorbarinov commented on #19
why does it require to use MM now?
https://cl.ly/3f1g2J0F1F0w

[2018-01-23 02:16] rstormsf commented on #19
@igorbarinov
Fix your browser, I don't have such issues

[2018-01-23 02:17] rstormsf commented on #19
![image](https://user-images.githubusercontent.com/9360827/35254765-84ede780-ffa0-11e7-9df7-ecbe02eca722.png)

[2018-01-23 02:20] igorbarinov commented on #19
https://cl.ly/3t3U270x371R

[2018-01-23 02:24] igorbarinov commented on #19
If no MM installed it shows validators
If MM installed and unlocked it shows validators
If MM installed and not unlocked/configured it shows alert

[2018-01-23 04:04] rstormsf commented on #19
so? @igorbarinov
read alert message.

[2018-01-23 04:11] igorbarinov commented on #19
For me expected behavior with locked MM should be like there is no MM installed

[2018-01-23 04:12] rstormsf commented on #19
you are on the wrong network id

[2018-01-23 04:16] rstormsf commented on #19
https://github.com/poanetwork/poa-dapps-validators/pull/32
@igorbarinov

[2018-01-23 21:37] rstormsf commented on #19
#33
@igorbarinov
Deployed: https://poanetwork.github.io/poa-dapps-validators/
Thank you for your points. I have fixed it

[2018-01-23 21:39] igorbarinov commented on #19
🤝

[2018-01-23 21:42] igorbarinov opened #34 "Readme.md page is missing description and purpose of the app"
- What is this app about
- What you can do in the app as a validator
- What you can do in the app as a contributor/token holder
- Which networks are supported

Also, I don't understand a purpose of screenshots in Readme. The app is available using a link. How to interact with the app should be available in wiki

[2018-01-27 03:00] rstormsf opened #38 "Change progress bar"
https://kimmobrunfeldt.github.io/progressbar.js/

Current progress takes whole screen and creates unwanted flashing screen

[2018-01-31 10:22] vbaranov opened #39 "(Bug) MetaMask is locked alert, but it is not locked"
![ezgif-4-e39bbf44f6](https://user-images.githubusercontent.com/4341812/35617476-5cd7e97c-0689-11e8-84bc-05b05cefb4df.gif)
![screen shot 2018-01-31 at 13 20 18](https://user-images.githubusercontent.com/4341812/35617550-8e374d32-0689-11e8-889f-78d9b95e464c.png)

[2018-02-06 01:37] rstormsf opened #42 "(problem) show total number of validators"
Solution: display somewhere current total number of validators
also display on each validator the index in the array of validators

[2018-02-06 01:45] hashguide opened #43 "(Bug) Validator expiration date incorrect for different time zones"
Validator in Eastern time zone set metadata expiration date to `01/31/2025` and others who have verified in a different time zone had seen `01/30/2025`

This seems to be an issue with which "time" was used as a base for the expiration date. Possible to convert validator input directly to unix time for storage or to use some type of string with validation rules.

[2018-02-08 16:56] igorbarinov opened #44 "(Fix) Change MoC address"
https://github.com/poanetwork/poa-dapps-validators/blob/b6b91abd6e33f15966e6c5a7f418ac33efab088f/src/contracts/Metadata.contract.js#L61

As is: "755 Bounty Dr 202"
Should be "755 Bounty Dr 202, Foster City"

[2018-02-08 19:13] #44 closed, assigned to vbaranov

[2018-02-26 15:50] #34 closed, assigned to nobody

[2018-02-27 11:52] vbaranov opened #51 "(Bug) low gas price for transactions"
![screen shot 2018-02-27 at 14 51 51](https://user-images.githubusercontent.com/4341812/36727315-d7e842a2-1bcd-11e8-9449-b434bbe0c489.png)

[2018-02-27 14:07] vbaranov opened #53 "(UI bug) the buttons are stuck together"
![screen shot 2018-02-27 at 17 05 52](https://user-images.githubusercontent.com/4341812/36733115-a11f2930-1be0-11e8-9a87-9b7710076dca.png)

[2018-02-27 14:11] #51 closed, assigned to nobody

[2018-02-27 15:08] #53 closed, assigned to nobody

[2018-04-03 09:41] varasev opened #56 "(Bug) "Pending changes" page shows duplicated rows"
When I create pending change I see duplicated rows: http://prntscr.com/j05jd4 - the number of duplicated rows is equal to the number of previous pending changes creations.

I.e. if I created two pending changes before and I create a new one, I will see three pending changes. And so on.

I think the reason is in the next line of `src/contracts/Metadata.contract.js`:

`let allChanges = await this.me

[2018-04-09 20:40] rstormsf opened #58 "(Testing) Cover with react component unit tests"
For QA/FrontEnd devs
Please write some unit tests
While doing it, you may refactor the code because it is not efficient enough.
Consider adding mobx

[2018-04-30 17:00] SiddigZeidan opened #60 "UX/UI - Hide "Pending Change Requested Date" row if there is no date to show"
Currently, on the DApp, the "Pending Change Requested Date" is displayed even when there is no date. This should be only visible if there is info there.

The wording of that row should also change, as `Pending Change Requested Date` doesn't make sense. I suggest removing the word "requested" so its just `Pending change date`. @igorbarinov  thoughts?

[2018-05-31 08:57] varasev opened #61 "(Update) Don't display MoC if it's removed"
**Problem:** if a `MoC` is removed from validators set, it shouldn't be displayed in the list of validators in Validators DApp. This issue relates to https://github.com/poanetwork/poa-network-consensus-contracts/issues/100.

**Solution:** remove displaying of MoC from Validators DApp if `PoaNetworkConsensus.isMasterOfCeremonyRemoved()` returns `true`.

[2018-06-12 09:15] #61 closed, assigned to nobody

[2018-06-12 12:52] varasev commented on #56
It seems this bug was actual and temporary when I was changing `ValidatorMetadata` contract two months ago. For now, I don't see the problem on `Pending changes` tab after repeated testing, so I close this issue.

[2018-06-12 12:53] #56 closed, assigned to nobody

[2018-06-13 09:19] #42 closed, assigned to nobody

[2018-06-29 09:47] varasev commented on #39
Fixed in https://github.com/poanetwork/poa-dapps-validators/pull/66.

[2018-06-29 09:47] #39 closed, assigned to nobody

[2018-07-07 12:23] varasev commented on #60
Done in https://github.com/poanetwork/poa-dapps-validators/pull/68.

[2018-07-07 12:23] #60 closed, assigned to nobody

[2018-07-11 16:46] varasev commented on #29
Fixed in https://github.com/poanetwork/poa-dapps-validators/pull/69.

[2018-07-11 16:46] #29 closed, assigned to nobody

[2018-07-20 12:09] vbaranov opened #72 "(Bug) confirmation and finalization txs with invalid voting key"
**Problem**: transactions to confirm and finalize are sent to blockchain even if a user unlocks invalid voting key

**Solution**: show alert on clicking to the corresponding buttons, that the current unlocked voting key is invalid

[2018-08-16 16:07] pablofullana opened #74 "Retrieve validators' physical addresses from PoPA dapp"
- [x] Retrieve validators' physical addresses from PoPA dapp rather than from validators dapp registry.
- [x] Display the physical address in the same way it's being displayed nowadays. Evaluate adding a green circle (or any other visual aid) to state the fact of confirmation.

Open questions may have to be addressed in new issues:
1. Display only confirmed physical addresses or can we display unc

[2018-08-27 17:31] unjapones commented on #74
@phahulin @pablofullana the PR https://github.com/poanetwork/poa-dapps-validators/pull/75 only covers a simple scenario and implements a basic UI representation:

As @pablofullana said, there are different scenarios not covered by the PR. May we discuss here what we expect to do next?

Personally I think the next step is decide to "**1) gradually deprecate**" or "**2) just drop** the usage of the

[2018-08-27 17:37] pablofullana commented on #74
Good questions @unjapones. Let's open a new issue for these different scenarios and which "adoption" approach will follow.

Let's add @varasev and @igorbarinov to the discussion as well, for a product-business perspective. And also @pashagonchar for a design-oriented guidance.

[2018-08-28 23:11] unjapones opened #78 "(Feature) Render validators' registered (unconfirmed) physical address from PoPA"
The PR that implements [#74](https://github.com/poanetwork/poa-dapps-validators/issues/74) only retrieves & renders a confirmed address from PoPA. This issue covers retrieving & rendering a **registered (unconfirmed)** address.

This also aims to prioritize the address information. The following list may represent the order of how _reliable_ the information is:

1. Confirmed physical address from

[2018-08-28 23:18] unjapones opened #79 "(Feature) Drop or Deprecate validators' address info from ValidatorMetadata.sol"
Assuming the prioritization in issue #78 has been made, this issue covers, either:

* "_Stop showing the physical address metadata from `ValidatorMetadata.sol`_" (i.e. drop its usage) and **remove/hide the corresponding set Metadata form fields + a link to the PoPA DApp**, or...
* "_Still show the physical address metadata from `ValidatorMetadata.sol` but highlight the fact that it ~has a low prio

[2018-08-28 23:28] unjapones opened #80 "(Feature) Handle multiple addresses from PoPA"
Issues #75 and #78 render only one address from PoPA on the UI, but the `ProoOfPhysicalAddress` contract can store multiple confirmed and unconfirmed physical addressed of a given validator. This ticket is meant to cover these scenarios and how the UI should render the data.

Some suggestions:

* Render the first (confirmed or unconfirmed) physical address and show a tooltip/accordeon/etc to revea

[2018-08-28 23:31] unjapones commented on #78
Assigned the people that may be involved in the definitions of this ticket, following the suggestions of [this comment](https://github.com/poanetwork/poa-dapps-validators/issues/74#issuecomment-416305645). Sorry in advance for the spam.

[2018-08-29 10:16] varasev commented on #80
@igorbarinov is it enough to show in Validators DApp only the first confirmed address for each validator? What do you think?

[2018-08-29 11:28] igorbarinov commented on #80
Hi guys. I'd like to see all confirmed addresses for a validator. It will bring more transparency into the process.

[2018-08-29 12:30] pablofullana commented on #80
@igorbarinov @varasev what about those addresses that have been registered but not confirmed yet. For example, those for which a validator is waiting for the post card to arrive. Shall we display those as well?

[2018-08-29 13:01] varasev commented on #80
@pablofullana I think we should display them too, but with `Unconfirmed` label.

[2018-08-30 10:18] varasev commented on #78
I think we should display address information for each validator in the following manner:

- First of all, display all confirmed addresses from PoPA contract for each validator. If there is at least one confirmed address, don't display unconfirmed addresses from PoPA and address from ValidatorMetadata.

- If there are no confirmed addresses from PoPA, display unconfirmed addresses from PoPA but wi

[2018-08-30 10:20] varasev commented on #79
I've described my proposal here: https://github.com/poanetwork/poa-dapps-validators/issues/78#issuecomment-417268863

[2018-08-30 10:24] varasev commented on #80
This issue seems to be duplicated in https://github.com/poanetwork/poa-dapps-validators/issues/78. Maybe close this one and continue the discussion there?

[2018-08-30 11:03] igorbarinov commented on #78
Vadim, I like your idea. Could we have information about token/ token registry on hover?
e.g. like we have in the bridge https://cl.ly/9b5d30ad0a8d

[2018-08-30 13:48] varasev commented on #78
@igorbarinov Could you specify exact information that we should display about token/ registry?

I see that `EthereumClaimsRegistry` contract stores `confirmation block number`.

`ProofOfPhysicalAddress` contract stores physical addresses and `creation block number`/ `confirmation sha3 code` for each physical address.

[2018-08-31 10:10] vbaranov commented on #78
I like the proposal☝️. My 50 POA wei to it:

1. `Unconfirmed/confirmed` takes a lot of space - it could be changed to badges as it proposed in original issue https://github.com/poanetwork/poa-dapps-validators/issues/74#issue-351271440 (though it will take some work from a designer)
2. There is no reason to copy `Address` at every line
3. I'm not sure, do we need a counter for those addresses?

Pro

[2018-08-31 11:26] pashagonchar commented on #78
**Zeplin:**https://zpl.io/2jw7P46
![poa_validators_1](https://user-images.githubusercontent.com/16716926/44909914-d5fa1180-ad29-11e8-8e45-c248ca401020.png)

[2018-08-31 12:29] unjapones commented on #78
@pashagonchar I believe each Address item is comprised of `Street + State + Zip Code`, and they don't have a State and Zip Code in common (like the mockups that @varasev posted on his 1st comment), should we update the Zeplin?

[2018-08-31 16:06] pashagonchar commented on #78
@unjapones **Zeplin:** https://zpl.io/2jw7P46
![poa_validators_1](https://user-images.githubusercontent.com/16716926/44923453-f093b100-ad50-11e8-86e8-6542409b294a.png)

[2018-09-01 07:24] varasev commented on #78
Let's display the addresses as it's shown in [the comment above](https://github.com/poanetwork/poa-dapps-validators/issues/78#issuecomment-417711992) but remove `State` and `Zip Code` rows.

@igorbarinov @vbaranov Do you think we should display confirmed addresses along with unconfirmed ones as it's shown in [that comment](https://github.com/poanetwork/poa-dapps-validators/issues/78#issuecomment-4

[2018-09-04 08:11] vbaranov commented on #78
@varasev I would suggest displaying as much info from POPA DApp as we have. So I vote to display both: confirmed and unconfirmed addresses.

[2018-09-04 08:20] igorbarinov commented on #78
I agree that we should display as much information as possible from POPA Dapp. For some apps, like bridge, it was important to hide some information because it was not important for end users. Users of validators dapp will use it to get as much information about validators as possible.

[2018-09-04 08:50] varasev commented on #78
@unjapones Well, let's display both confirmed and unconfirmed addresses from PoPA then, as it's shown [here](https://github.com/poanetwork/poa-dapps-validators/issues/78#issuecomment-417711992) (without `State` and `Zip Code` rows). The address from `ValidatorMetadata` should only be displayed if there are no addresses for validator in PoPA contract (as a fallback scenario).

[2018-09-04 14:30] unjapones commented on #78
@varasev @igorbarinov @vbaranov since we agreed to show the address from `ValidatorMetadata` as _unregistered and as a fallback scenario_, then the form to set the Metadata of a validator will _still_ show the corresponding fields.

Do we want to add a link to the PoPA DApp on the set Metadata form and/or hide its address fields? this is the 3rd item that @pablofullana originally described in #74

[2018-09-04 15:35] varasev commented on #79
I think this one is correct. We'll remove address text fields in that form later when validators register and confirm their addresses with PoPA.

[2018-09-04 15:36] varasev commented on #78
Answered here: https://github.com/poanetwork/poa-dapps-validators/issues/79#issuecomment-418414058

[2018-09-20 13:15] #80 closed, assigned to nobody

[2018-09-20 13:17] unjapones commented on #79
Closing this: the chosen approach was the 2nd option on the description of the issue.

[2018-09-20 13:17] #79 closed, assigned to igorbarinov, pablofullana, vbaranov, unjapones, pashagonchar, varasev

[2018-09-21 17:51] unjapones commented on #74
@varasev I believe this issue can be safely closed, since the PR https://github.com/poanetwork/poa-dapps-validators/pull/75 has been merged, right?

[2018-09-21 17:51] #78 closed, assigned to igorbarinov, pablofullana, vbaranov, unjapones, pashagonchar, varasev

[2018-09-22 07:59] varasev commented on #74
@unjapones Yes, I closed this.

[2018-09-22 07:59] #74 closed, assigned to unjapones

[2018-09-28 08:27] phahulin opened #82 "Display physical addresses status based on voting key"
It turns out, most validators use their _voting key_ to send postcards in PoPA.

So it would be better to fetched physical addresses based on that key (except for MoC who doesn't have voting key). If there are no addresses on that voting key or voting key doesn't exist - retry fetching by mining key.

[2018-09-28 18:13] unjapones commented on #82
@phahulin this is probably a dumb question, but what are _MoC_ s?

[2018-09-28 18:47] phahulin commented on #82
MoC stands for Master of Ceremony. In a network like ours, he's the initial validator who starts the network and deploys [required contracts](https://github.com/poanetwork/poa-network-consensus-contracts) to get it into operational state. Then he invites first "real" validators to join the network.

After that the "Ceremony" is over, and MoC only supports the network by producing blocks, he does n

[2018-09-29 13:05] varasev commented on #82
@unjapones To retrieve voting key by mining key, you can use `KeysManager.getVotingByMining` public method: https://github.com/poanetwork/poa-network-consensus-contracts/blob/e6e04e926e3b44a2e48a897c03225726a241537f/contracts/KeysManager.sol#L337 - it will always return zero address for the wrong (or zero) mining key.

[2018-10-03 13:18] unjapones commented on #82
@phahulin https://github.com/poanetwork/poa-dapps-validators/pull/84 has been merged. Are there any pending items that I should check?

If not, after verifying that the merged code works as expected, feel free to close this issue (not sure about the process).

[2018-10-03 13:24] #82 closed, assigned to unjapones

[2018-10-04 12:52] varasev opened #85 "(Fix) Update DApp loading code considering upcoming Breaking Change in MetaMask"
**Problem:** On `November 2nd, 2018` MetaMask and other DApp browsers will stop exposing user accounts by default. Instead, dapps must request access using a new provider method: `provider.enable()`. Detailed info is available here: https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8

**Solution:** Fix the code which loads DApp according to instruction

[2018-10-04 20:30] mnugumanova opened #86 "Keep only last verified address displayed"
There is no benefit in displaying all of the addresses in this Dapp.
I want to open this issue as a ballot for other Validator to vote to find if they agree.

[2018-10-04 20:52] 6proof commented on #86
I agree. The ONLY address that should be listed is that of the one listed in Validator MetaData by Validator, and the "Verified" or "Unverified" flag should be simple yes/no toggle base on result.  Multiple addresses should never show here.

[2018-10-05 07:49] varasev commented on #86
For now, Validators DApp displays all registered addresses that stored in `Proof of Physical Address` smart contract.

We could display only the last confirmed address in Validators DApp but remaining addresses will still be stored in `Proof of Physical Address` smart contract and can be read by anyone until they're unregistered.

PoPA smart contract address and ABI are available in our `poa-chain

[2018-10-05 08:26] phahulin commented on #86
It might be difficuly to implement what @6proof suggests as it requires integration between DApps.

@mnugumanova is it because one of the addresses is "expired" (you relocated/etc)? In this case you can delete it from PoPA Dapp by going into "My addresses" and clicking on a trash icon, this will cost some small amount of POA for tx fee.

[2018-10-12 07:05] mnugumanova commented on #86
It worked. Thanks for the guidance

[2018-10-12 07:05] #86 closed, assigned to nobody

[2018-10-15 14:11] vbaranov opened #89 "(Bug) Duplicate text in alert"
<img width="589" alt="screen shot 2018-10-15 at 16 59 58" src="https://user-images.githubusercontent.com/4341812/46956177-53d96880-d09d-11e8-9616-fea4d15dd8cf.png">

[2018-10-16 12:22] vbaranov opened #91 "(Fix) Replace RPC endpoint for xDai testnet chain"
RPC endpoint alias: `https://dai-test.poa.network`

[2018-10-17 06:51] varasev commented on #85
Done in https://github.com/poanetwork/poa-dapps-validators/pull/87.

[2018-10-17 06:51] #85 closed, assigned to nobody

[2018-10-17 06:51] varasev commented on #89
Done in https://github.com/poanetwork/poa-dapps-validators/pull/90.

[2018-10-17 06:51] #89 closed, assigned to nobody

[2018-11-10 10:54] varasev opened #92 "(Fix) Physical address confirmation status is incorrect when DApp is connected to core.poa.network"
**Problem:** For now, Validators DApp doesn't show correct confirmation status for physical addresses - all validators display gray icon that means `Unconfirmed Address`. Something was broken.

**Solution:** Retest DApp, find the reason and fix it.

[2018-11-11 08:30] varasev commented on #92
Seems the reason in this line: https://github.com/poanetwork/poa-dapps-validators/blob/3d52c78bf3d241d8db5b5916b739f9f9bd2425db/src/contracts/ProofOfPhysicalAddress.contract.js#L99

The `getPastEvents` web3 function returns an empty result for `core.poa.network` RPC but works fine with `poa.infura.io`.

@phahulin could this be due to recent updates of Parity version from 1.10.6 to 2.1.4 on several

[2018-11-12 09:39] phahulin commented on #92
@varasev nodes are at the same block height and there are no obvious errors in parity logs.
Could you check
1. https://core-trace.poa.network (this one is on 1.11.8 and was not upgraded)
2. https://core-parityv2-trace.poa.network (this one is on 2.0.6 or 2.0.8 and was not upgraded)

[2018-11-12 09:46] phahulin commented on #92
I see they both work. So something iswrong  either with core lb or with parity 2.1.x

[2018-11-12 10:29] varasev commented on #92
Ok, I'll try to launch local Parity 2.1.4 node to see if the problem with this version or probably with the load balancer.

[2018-11-12 11:00] varasev commented on #92
I encounter the same issue with local 2.1.4 node launched in `warp` mode. I'll try to launch with `--no-warp` flag, to wait until it's fully synchronized and to recheck DApp.

If I see it works fine, I'll try the same in `warp` mode but this time I'll wait for a few hours to let the node download ancient blocks.

[2018-11-12 12:22] phahulin commented on #92
Try with `--pruning archive` instead of `--no-warp`. It also implies no warp

[2018-11-12 13:39] phahulin commented on #92
pruning=archive seem to fix it

[2018-11-12 14:23] varasev commented on #92
My test local node 2.1.4 now is fully synchronized with `--no-warp` flag and now the DApp works. So, it seems the reason is that the blocks are not fully downloaded by a node. I'll also try to run the node without `--no-warp` and `--pruning archive` and wait for a long time to let it download all blocks.

[2018-11-13 12:05] varasev commented on #92
So, testing results are next: Validators DApp works fine with Parity 2.1.4 local node which is fully synchronized in any of the modes: `--no-warp`, `--pruning archive`, `--warp`.

For `--warp` mode (which is default) we need to wait for a few hours until the node is fully synchronized in the background but we can't see the progress of background sync of ancient blocks in node's console (it is only

[2018-11-13 19:51] phahulin commented on #92
Nodes of core lb are resynced, the problem doesn't seem to appear anymore.
@varasev thanks for your help!

[2018-11-13 19:52] phahulin commented on #92
Just for the sake of history, I ran `./parity --config node.toml db kill` to wipe out the database and cause the resync.

[2018-11-14 06:50] varasev commented on #91
Done in https://github.com/poanetwork/poa-dapps-validators/pull/93.

[2018-11-14 06:50] #91 closed, assigned to nobody

[2018-11-14 06:51] varasev commented on #72
Done in https://github.com/poanetwork/poa-dapps-validators/pull/94.

[2018-11-14 06:51] #72 closed, assigned to nobody

[2018-12-01 19:13] jflowers1974 opened #95 "UI Changes to make better Metadata for the Validators"
There needs to be more error trapping and explicitly defined fields.

Whilst reviewing https://validators.poa.network/ for myself, I saw a number of mistakes/issues (screen shots upon request - however, if you just look you too will see these.)  I too had an issue initially during Network roll as a member of the Trinity Validator Set.  I believe my issue was whether or not to use a comma or semi-s

[2018-12-07 14:21] varasev opened #96 "(Feature) Make Validators DApp display company info for xDai Network"
xDai network will have companies as validators, so UI needs to be changed to be able to display company info instead of notary info.

A company as validator will only have the next data:
- wallet address (miningKey)
- company name
- contact email
- creation date

So, the validator card for the company should look like this:

![image](https://user-images.githubusercontent.com/33550681/49652931-87ed

[2018-12-07 14:43] varasev opened #97 "(Update) New style for xDai Network"
We need to have separate colors and logo for xDai network in Validators DApp. Example (yellow-orange color scheme): https://blockscout.com/poa/dai

[2018-12-12 17:00] pashagonchar commented on #97
@varasev

Update

![xdai_governance_app_new_ballot_3](https://user-images.githubusercontent.com/16716926/49885390-c79ab600-fe3f-11e8-93ae-c6f7afc928aa.png)
![xdai_governance_app_new_ballot](https://user-images.githubusercontent.com/16716926/49885391-c8334c80-fe3f-11e8-8c3b-3d8e1f57b11c.png)
![xdai_governance_app](https://user-images.githubusercontent.com/16716926/49885392-c8334c80-fe3f-11e8-8bc1-9

[2018-12-14 07:01] varasev commented on #97
These screens are for Voting DApp (not for Validators DApp) 👆 Please attach relevant ones.

[2018-12-14 17:12] pashagonchar commented on #97
@varasev Sorry, I'll add

[2018-12-18 08:13] varasev commented on #96
Done in https://github.com/poanetwork/poa-dapps-validators/pull/98.

[2018-12-18 08:13] #96 closed, assigned to varasev

[2018-12-20 15:14] vbaranov opened #101 "(Fix) display empty card of company type for xDai chain"
**Problem**: Empty company-validator cards are of user type in xDai chain
![screen shot 2018-12-20 at 16 59 27](https://user-images.githubusercontent.com/4341812/50292651-b9bde400-0482-11e9-977f-275001dfba07.png)

**Solution**: Display corresponding company attributes for xDai chain for empty cards.

[2018-12-21 07:39] varasev commented on #101
Done in https://github.com/poanetwork/poa-dapps-validators/pull/102.

[2018-12-21 07:39] #101 closed, assigned to nobody

[2019-01-07 12:21] pashagonchar commented on #97
@gabitoesmiapodo

Zeplin

https://zpl.io/beoOwkY

https://zpl.io/2vKAM0v

![xdai_validators_1](https://user-images.githubusercontent.com/16716926/50767987-8901eb00-1287-11e9-83bd-6f5abac03a5c.png)
![xdai_validators_2_1](https://user-images.githubusercontent.com/16716926/50767988-899a8180-1287-11e9-84be-08c079358985.png)

[2019-01-07 13:08] gabitoesmiapodo commented on #97
@varasev @vbaranov

Could you update my permissions for this repo? Same problem as in https://github.com/poanetwork/poa-dapps-voting/issues/187#issuecomment-447943772

[2019-01-07 13:16] igorbarinov commented on #97
@gabitoesmiapodo I've added permissions. Please check it out

[2019-01-07 13:21] gabitoesmiapodo commented on #97
@igorbarinov

It's fixed, thank you.

[2019-01-30 08:19] varasev commented on #92
The issue seems to appear again. The same situation: `poa.infura.io` works fine, but `core.poa.network` doesn't.

[2019-01-30 08:22] igorbarinov commented on #92
Infura will be switched off on Saturday, Feb 2.
What do we need to do with core.poa.network rpc node? resync it?

[2019-01-30 08:40] varasev commented on #92
Yes, we need to resync the nodes of `Core` load balancer.

[2019-01-30 08:53] phahulin commented on #92
Ok, I'll resync them

[2019-01-30 09:07] #97 closed, assigned to gabitoesmiapodo, pashagonchar

[2019-01-30 15:50] varasev commented on #92
It seems to be OK now :+1:

[2019-04-26 07:30] #92 closed, assigned to nobody

[2019-04-26 09:02] varasev opened #106 "Network switcher is not displayed"
In an old version of the `Validators DApp` we had a network switcher at the top right corner which allowed us to switch between networks if MetaMask is not installed: https://github.com/poanetwork/poa-dapps-validators/blob/35d64a8dac3bd9d818e42f88153943f96de17518/src/index.js#L234-L244

Please return this switcher back. It seemed to be removed with the latest changes made in January 2019.

[2019-04-26 09:09] igorbarinov commented on #106
I also miss it

[2019-04-26 13:02] gabitoesmiapodo commented on #106
I'll have a look.

I think it wasn't present on the designs and it was removed.

[2019-04-26 13:11] varasev commented on #106
@gabitoesmiapodo Yes, it should only be displayed when MetaMask is not installed (missed that on UI layouts).

[2019-04-30 08:27] #106 closed, assigned to gabitoesmiapodo

[2019-05-15 17:18] varasev opened #108 "Confirm and Finalize buttons don't work on the `Pending Changes` page"
We have a pending change for Kovan network: https://validators.poa.network/poa-dapps-validators/pending-changes

![image](https://user-images.githubusercontent.com/33550681/57795197-0960bd00-774e-11e9-8cab-e43fc533af1d.png)

When clicking on the `Confirm` or `Finalize` button the `miningkey` attribute is empty for some reason: https://github.com/poanetwork/poa-dapps-validators/blob/ff6726a4f203432

[2019-05-15 17:41] gabitoesmiapodo commented on #108
@varasev Not really, but I could look into it.

Any way I could test this locally?

[2019-05-15 17:43] varasev commented on #108
You can just `console.log` the miningKey when clicking the button.

[2019-05-16 05:42] #108 closed, assigned to gabitoesmiapodo

[2019-10-25 10:31] varasev opened #113 "Call `window.ethereum.enable` only when that really needed"
**Problem:** For a user who has installed MetaMask and opened the Validators DApp for the first time in the current browser's session, the DApp [asks permissions](https://github.com/poanetwork/poa-dapps-validators/blob/a1c023202d28f66d3331d1997c1879d9fadbaf88/src/utils/getWeb3.js#L15-L19) to get access to the list of accounts in MetaMask. But the app doesn't need to know the list of user's account

[2019-10-29 08:03] varasev opened #115 "Display the network currently selected in MetaMask when first visiting"
Related to [@6proof's comment](https://github.com/poanetwork/poa-dapps-validators/pull/112#issuecomment-547060720).

DApp should select the network currently selected in MetaMask when first visiting in the current browser's session (we could use [`window.sessionStorage`](https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage) for that). If the chosen network is not supported by DAp

[2019-11-19 14:31] varasev opened #116 "Check (and fix) Validators DApp according to upcoming changes in MetaMask"
MetaMask will have some breaking changes soon: https://medium.com/metamask/breaking-changes-to-the-metamask-inpage-provider-b4dde069dd0a

Please check Validators DApp and fix it if needed.

[2019-12-30 08:39] #115 closed, assigned to maxaleks

[2019-12-30 08:40] varasev commented on #115
Done in https://github.com/poanetwork/poa-dapps-validators/pull/117.

[2020-01-07 13:37] #113 closed, assigned to maxaleks

[2020-01-07 13:38] varasev commented on #113
Done in https://github.com/poanetwork/poa-dapps-validators/pull/118.

[2020-01-07 14:27] varasev commented on #116
MetaMask postponed the changes: https://medium.com/metamask/metamask-permissions-system-delay-retrospective-9c49d01039d6

[2020-03-24 17:05] igorbarinov opened #120 "Unexpected token : In JSON at position 3 when open https://validators.poa.network/"
When open https://validators.poa.network
<img width="1269" alt="Screen Shot 2020-03-24 at 5 56 45 PM" src="https://user-images.githubusercontent.com/424628/77454679-27c92780-6df9-11ea-83d9-1bc12a48849f.png">

can be related to Nethermind as RPC nodes

<img width="1392" alt="Screen Shot 2020-03-24 at 6 03 59 PM" src="https://user-images.githubusercontent.com/424628/77455251-e7b67480-6df9-11ea-8105-

[2020-03-24 18:51] #120 closed, assigned to varasev

[2020-03-24 18:55] varasev commented on #120
Fixed in https://github.com/poanetwork/poa-dapps-validators/pull/121 and https://github.com/poanetwork/poa-dapps-voting/pull/217.

[2021-01-26 00:07] maratP opened #123 "ALERT: Transaction Error. Exception thrown in contract code."
Frontend (on our private network) works for both dapps (validators and voting), but when we try to submit transactions (to finalize metadata or create new ballot for voting), we get this error in Metamask:

ALERT: Transaction Error. Exception thrown in contract code.

P.S.
It used to work and we were able to set metadata for validator and also confirm it. Now, we can't finalize it and submit any t

[2021-01-26 00:15] maratP commented on #123
Update:

When I say "used to work and was able to confirm metadata" that was more than a year ago.. So it _might_ be related to Metamask changes..

Also since these daps use legacy window.web3 API, installed additional Metamask extension according to this doc:
https://metamask.zendesk.com/hc/en-us/articles/360053147012

That didn't help. Could it be related to Gas limit?

Here is a snippet of the

[2021-01-26 07:56] varasev commented on #123
@maratP Could you please first try to make `confirmPendingChange` call on the page https://blockscout.com/poa/sokol/address/0xFFD6eEBda850E4a20b6d9C9e98Ee631f8d7cA950/write-proxy (for Sokol network) instead of UI? To make sure there are no issues in the `ValidatorMetadata` contract. Please, use your *voting* key to make the transaction.

The `_miningKey` parameter should be set to `0x4E20226355b44

[2021-01-26 08:35] varasev commented on #123
You get this only in the local private network or both in local and production (Core/Sokol)?

Yes. Please, try to set larger gas limit in MetaMask when sending transaction.

Also, it's worth to try to set gas price to 20 gwei.

The dapps don't use window.web3 anymore. The main code uses `window.ethereum`: https://github.com/poanetwork/poa-dapps-validators/blob/74ad1ff1ee2ad23284167d86b816099aac41e

[2021-01-26 15:14] varasev commented on #123
If the error still persists with MetaMask (after trying larger gasLimit and gasPrice), please attach here the screenshot of the alert.

[2021-02-04 16:40] maratP commented on #123
Thank you! I will try to set larger gas limit in MetaMask and let you know.

P.S.
I don't think I'll be able to try it on Sokol since I am not a validator on POA for quite some tine now. However on our private network, it says that I already confirmed this change. But that was more than a year ago so might be related to gas limit or other external tools changes. Will update here.

Thanks again

[2021-05-17 21:25] DavidFFFFFFFFF commented on #123
same happening to me

[2021-05-24 02:55] ghost opened #125 "Coins stuck in Nifty wallet"
Hey all. If any one!
Trying to send on Ethereum.
Have no probs sending ETH.
But one coin - when trying to send from Nifty to MetaMask - always gets: "Transaction Error. Exception thrown in contract code."
With a sky high gas estimation, and Not enough balance to send etc.
Am new to Nifty. Can any one say what i´m doing wrong?
Many thanks.

[2021-05-24 04:19] varasev commented on #125
Hi @dechirix, Sorry, your question is not clear enough. Seems you are trying to call some function in some contract and that function reverts. What exactly transaction are you trying to send?

[2021-05-24 12:13] ghost commented on #125
Thanks for replying.
I´m just trying to SEND an ERC-20 coin (bought on uniswap) from Nifty to MetaMask.
I´ve sent ETH the same way before without any problems . . .

[2021-05-24 12:29] varasev commented on #125
@dechirix Are you sure your ERC-20 token balance is enough to send the amount to another address? Make sure you are not trying to send an amount that is greater than your ERC-20 balance.

[2021-05-24 12:40] ghost commented on #125
I just press the MAX button to Send all of the coins; there are only 4.11 coins i´m trying to send, but then a lot of small numbers. Maybe i´m messing stuff up by including tiny numbers. Will try to round up . . .

Nope does not work. Still getting "Transaction Error. Exception thrown in contract [[code."]]
But since the estimated gas is way too high - only for this coin - in the hundreds of usd,

[2021-05-24 12:51] varasev commented on #125
What is your address you are trying to send the coins from? And what's the name of the token you are trying to send? On your screen I don't see the `Send` button, there is only `Buy ETH`. Are you trying to exchange some tokens to ETH on some DEX?

[2021-05-24 12:54] ghost commented on #125
https://etherscan.io/address/0x0bde4cecae9d86e9f6e1a91a9d762f60bffcb6ac

I bought MIST (accidentally in two buys), and sent them to wallet. Bought a bit of ETH and sent to wallet. Sent ETH to Metamask to try and work out why I could not send MIST the same route. That worked :)
But the MIST is still stuck.

[2021-05-25 19:40] ghost commented on #125
Any one else have some ideas on what to do?
Maybe i´ll just leave these 4.11 for my grandkids. They will have to figure out how to use them then.

[2021-05-26 03:16] varasev commented on #125
@dechirix Try to increase the balance of your address (0x0bde4cecae9d86e9f6e1a91a9d762f60bffcb6ac) in ETH. Probably, you out of gas.

[2021-05-26 11:34] ghost commented on #125
Thanks for taking the time.
But no, it didn´t work. Added 80 usd worth of ETH to Nifty. Cost of sending that from MM to Nifty was 1.5 usd. I guess the same should apply when going the other direction . . .
Still getting the same error message, and estimated gas in the 100s . . .

![IMG_20210526_113024711_HDR](https://user-images.githubusercontent.com/82519600/119652879-2e489a00-be16-11eb-8052-fa53

[2021-06-15 22:02] Cossdog1980 opened #126 "METAMASK- Used Chainswap from Eth to BSC then: ALERT: Transaction Error. Exception thrown in contract code."
Can anyone help me sort this problem? I was trying to get my COURT from the Eth chain to the BSC chain so that I can stake them for Governance. Everything went well, swapped the tokens over, but when I try to depost them in the OptionRoom dAPP gvoernance page, I get the message "ALERT: Transaction Error. Exception thrown in contract code."

So, I don't want to hit the confirm button because I'm as